body {background-color: coral;}

h2, h3, h1, table, #board, #reset {
    margin-left: 50px;
}

.content {
    max-width: 500px;
    margin: auto;
}
.cell {
    width: 100px;
    height: 100px;
    font-size: large;
}

#scoreboard table {
    border-collapse: collapse;
    margin-bottom: 30px;

}

tr, th {
    border: black 1px solid;
}

th {
    width: 80px;
}

tr {
    height: 30px;
}

#reset {
    margin-top: 40px;
    font-size: large;
    color: cadetblue;
}
